#about_container ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#about_container ul li {
  list-style: none;
  font-size: 1.2em;
  background-color: var(--color5);
  padding: 0.3em;
  border-radius: 5px;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

#about_container p {
  text-align: justify;
}

.message {
  padding: 1em 0.5em;
  background-color: var(--color5);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  width: 140px;
  text-align: center;
  box-shadow: 0px 0px 5px 2px var(--color1);
}

.message:hover {
  box-shadow: 0px 0px 7px 2px var(--color2);
}

#work_container {
  background: linear-gradient(120deg, var(--color5), var(--color3));
}

.work_container_intro {
  margin-top: 0;
}

.work_items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  /* outline: 1px solid green; */
}

.works p {
  text-align: justify;
  font-size: 18px;
  color: var(--color1);
}

.work_item {
  border: 1px solid var(--color5);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  height: auto;
  margin: 0px !important;
  padding: 0 5px;
  box-sizing: border-box;
}

.work_item:hover {
  border: 2px solid var(--color5);
  transform: translateY(-3px);
  transform: scale(1.03);
}
.work_item h2 {
  margin-top: -20px;
  font-size: 30px;
  color: var(--color1);
}
.work_item img {
  display: block;
  margin: auto;
  height: 250px;
  width: 100%;
  /* object-fit: fill; */
}
@media (max-width: 800px) {
  .work_items {
    grid-template-columns: 1fr;
  }
}

#used {
  margin-bottom: 0;
}
#used div {
  margin-right: 0;
}

.close-work {
  position: fixed;
  /* border: 1px solid red; */
  top: 0;
  left: 0;
  background-color: var(--color);
  padding: 0.5em;
}

.cv {
  text-decoration: none;
  color: var(--color1);
  border: 1px solid var(--color1);
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.cv:hover {
  background-color: var(--color1);
  color: var(--color5);
}

.btn_one a,
.btn_two a {
  text-decoration: none;
  color: #fff;
}

.btn_one a:hover,
.btn_two a:hover {
  color: var(--color5);
}
